.input {
  font-size: 0.8rem;
  color: var(--input-text-color);

  &:focus {
    outline: none;
    border-bottom-color: var(--input-border-focus-color);
  }

  &::placeholder {
    color: var(--text-grey-color);
  }

  &--secondary {
    border: none;
    border-bottom: 1px solid var(--blue-color);
  }

  &.input-form {
    border: none;
    text-align: end;

    &:focus {
      outline: none;
      border-bottom: 1px solid var(--input-border-focus-color);
    }
  }

  &.input-msg {
    border: unset;
    border-radius: 1rem;
    background: var(--input-msg-background);
    padding: 0.8rem;
    flex-grow: 1;
  }
}
