{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb-typescript/base", "plugin:import/recommended"],
  "overrides": [
    {
      "files": ["*.ts"],
      "parserOptions": {
        "project": ["./tsconfig.json"]
      }
    }
  ],
  "parserOptions": {
    "ecmaVersion": 13,
    "sourceType": "module",
    "modules": true,
    "parser": "@typescript-eslint/parser",
    "tsconfigRootDir": "./"
  },
  "ignorePatterns": ["**/*.css", "**/*.html", "**/*.hbs", "**/*.png"],
  "rules": {
    "no-undef": "error",
    "no-console": "warn",
    "class-methods-use-this": "off",
    "operator-linebreak": "off",
    "implicit-arrow-linebreak": "off",
    "linebreak-style": ["error", "windows"],
    "import/prefer-default-export": "off",
    "no-underscore-dangle": "off",
    "no-extra-boolean-cast": "off",
    "no-param-reassign": "off",
    "react/jsx-filename-extension": 0,
    "@typescript-eslint/no-unused-expressions": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "ts": "never"
      }
    ],
    "import/no-unresolved": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "variable",
        "format": ["camelCase", "UPPER_CASE"]
      }
    ]
  },
  "plugins": ["unused-imports", "@typescript-eslint"],
  "root": true
}
