<div class='wrapper-input-avatar'>
  <label class='input-avatar-label' for='avatar'>
    <img
      class='input-avatar-img'
      alt='{{alt}}'
      src='https://ya-praktikum.tech/api/v2/resources/{{src}}'
    />
  </label>
  <input class='input-avatar' type='file' name='avatar' id='avatar' />
</div>