.wrapper-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: var(--main-blackout);
}

.popup__content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 1rem;
  z-index: 999;
  background-color: var(--white-color);
}

.popup__header {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1rem;
}
