* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a:hover {
  cursor: pointer;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

main {
  min-width: 320px;
  height: 100vh;
  padding-top: 1rem;
  overflow: hidden;
}

a {
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}