.dialog__header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 0.5rem;
}

.header-chat__name {
  font-size: 1rem;
  font-weight: 600;
}

.dialog__header-info {
  display: flex;
  gap: 1rem;
  align-items: center;
}
