<div class='dialog__header'>
  {{#if activeChatId}}
    <div class='dialog__header-chat'>
      <div>Ava</div>
      <span class='header-chat__name'>{{title}}</span>
    </div>
  {{else}}
  {{/if}}
</div>