<div class='wrapper-chat-list'>
  {{#each chats}}
    {{{this}}}
  {{/each}}
  <div class='wrapper-chat-inner'>
    <div class='wrapper-chat-ava'>Ava</div>
    <div class='wrapper-chat-info'>
      <span class='chat-info__title'>Иванов П.П.</span>
      <p class='chat-info__msg'>Много надо доработать, но мы справимся</p>
    </div>
    <div class='wrapper-chat-notify'>
      <span class='chat-notify__time'>15:12</span>
    </div>
  </div>
</div>