:root {
  --blue-color: #3369f3;
  --white-color: #fff;
  --input-placeholder-color: #999999;
  --input-text-color: #000;
  --input-border-focus-color: #000;
  --back-block-color: #fbfbfb;
  --border-grey-color: #eaeaea;
  --error-color: #ff0000;
}