<div class='dialog__content'>
  <div class='dialog__content-message-block'>
    {{#if activeChatId}}
      <div class='content-message-block__wrapper-date'>
        <p class='content-message-block__date'>
          19 июня
        </p>
      </div>
      <div class='content-message-block__message-list'>
        <div class='message-list message-list__other'>
          <div class='message-list message-list__other'>
            <p class='message-item message-item__others'>У них там все немного
              не так. В смысле, у них там все точно так же, как и здесь, только
              немного по-другому.</p>
          </div>
        </div>
        <div class='message-list message-list__my'>
          <div class='message-list message-list__my'>
            <p class='message-item message-item__my'>Идут по улице три помидора.
              Папа-помидор, Мама-помидор и Ребёнок-помидор. Ребёнок-помидор
              начинает отставать, и Папа-помидор приходит в ярость. Он подбегает
              к нему, давит его ногой всмятку, и говорит: "Догоняй, кетчуп".</p>
          </div>
        </div>
      </div>
    {{else}}
      Выберите чат
    {{/if}}
  </div>
</div>